/* dot-loader.css */

.dot-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
}

.dot-loader div {
  width: 10px;
  height: 10px;
  background: #8e44ff;
  border-radius: 50%;
  display: inline-block;
  animation: dot-scale 1.4s infinite ease-in-out;
}

.dot-loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.dot-loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dot-scale {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
